.box {
    background-color: darksalmon;
    color: aliceblue;
    border: none;
    padding: 5px 5px 5px 5px;
}

th {
    background-color: burlywood;
}

table,
th,
tr,
td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px 5px 5px 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darksalmon;
    top: 0;
    width: 100%;
    position: sticky;
}

li {
    float: left;
    border-right: 1px solid;
    border-color: aliceblue;
}

li a {
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: larger;
}

li a:hover {
    background-color: coral;
}

.active {
    background-color: sienna;
}

body {
    /**
    background-image: url("/public/winter_willow.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    **/
    background-color: blanchedalmond;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.button {
    background-color: darksalmon;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: larger;
    border: none;
}