<!DOCTYPE html>
<html>

<head>
    <% include ../partials/peopleHeader.ejs %>
        <title>Add New Person</title>
</head>

<body>
    <nav>
        <div>
            <ul>
                <li>
                    <a href="home"><span></span>Home</a>
                </li>
                <li>
                    <ul>
                        <li><a href="add" class="active">Add New Person</a></li>
                        <li><a href="delete">Delete a Person</a></li>
                        <li><a href="display">Display People</a></li>
                        <li><a href="database">People Database</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">

        <h2>Add a New Person to the Database</h2>
        <br>

        <form method="POST" action="/add">
            <p>
                <h3>Person ID</h3>
                <input type="number" name="pid" value="" placeholder="Person ID">
                <br>

                <h3>Name</h3>
                <input type="text" name="fname" value="" placeholder="First Name"> &nbsp;
                <input type="text" name="lname" value="" placeholder="Last Name">
                <br>

                <h3>Size (Weight)</h3>
                <input type="number" name="size" value="" placeholder="Size (Weight)">
                <br>

                <h3>Height</h3>
                <input type="number" name="height" value="" placeholder="Height">
                <br>

                <h3>Blood Type</h3>
                <input type="text" name="type" value="" placeholder="Blood Type">
                <br>

                <h3>Age</h3>
                <input type="number" name="age" value="" placeholder="Age">
                <br>

            </p>
            <p>
                <input type="submit" name="btnAdd" class="button" value="Add New Person">
            </p>
        </form>

    </div>
</body>

</html>