<!DOCTYPE html>
<html>

<head>
    <% include ../partials/peopleHeader.ejs %>
        <title>Edit People in Database</title>
</head>

<body>
    <% include ../partials/peopleNav.ejs %>
        <div class="container">
            <h2>Database Results</h2>

            <table>
                <!--rows from index.js /database definition-->
                <tr>
                    <th>User Id</th>
                    <th>First Name</th>
                    <th>Age</th>
                </tr>
                <% rows.forEach(function(r) { %>
                    <tr>
                        <td>
                            <%= r.uid %>
                        </td>
                        <td>
                            <%= r.fname %>
                        </td>
                        <td>
                            <%= r.age %>
                        </td>
                    </tr>
                    <% }); %>
            </table>

        </div>

</body>

</html>